<div class="swell-Gameday-checkout" id="swell-Gameday-checkout-popup">
  <div class="swell-post-checkout">
    <div class="swell-Gameday">
      <div class="checkout-heading">
        <span class="swell-referral-back-link" id="close-thank-you"></span>
        <h2 class="swell-checkout-thanks">Thank you!</h2>
      </div>
      <section class="swell-referral-widget">
        <div class="yotpo-widget-instance" data-yotpo-instance-id="1397" customer-email-view-input-placeholder='Enter email'
        customer-email-view-label-text='Enter your email below to get started'
        referral-views-friends-input-placeholder="Your friends' emails (separated by commas)"
        referral-email-view-label-text="Now, Enter your friends' emails."
        share-copy-link-text="Copy Link"
        share-link-copied-text="Copied"
        share-facebook-button-text="Share"
        share-facebook-messenger-button-text="Message"
        share-twitter-button-text="Tweet"></div>
      </section>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("close-thank-you").addEventListener("click", function(){
    document.getElementById('swell-Gameday-checkout-popup').remove();
  });
</script>